.messages {
  grid-area: main;
  padding: 50px;
  display: flex;
  background-color: #fff;
  min-height: 100vh;
}

/* menu */
.messages-nav {
  flex: 0 1 20%;
  border-right: 2px solid #2979ff;
  margin: 0px 30px 0px 0px;
}

.messages__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
  margin: 0px 0px 20px 0px;
}
.messages-users__list {
  padding: 0px 20px 0px 20px;
}

/* dialogs */
.dialogs {
  flex: 0 1 80%;
}
.dialogs__container {
  /* ? */
  display: flex;
  flex-direction: column;
  /* ? */
  height: 67vh;
  overflow: auto;
}
/* form */
.dialogs-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dialogs-form__textarea {
  width: 80%;
  height: 50px;
  resize: none;
  font-size: 16px;
  padding: 10px;
  border: none;
  border: 2px solid #222;
  margin: 0px 10px 00px 0px;
  background-color: #e3f2fd;
}

.dialogs-form__button {
  cursor: pointer;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
.dialogs-form__button:hover {
  background-color: #1565c0;
}

/* user-message ?*/
.user-message {
  align-self: flex-end;
  text-align: right;
  background-color: #e3f2fd;
  box-shadow: 0 0 5px rgba(13, 71, 161, 0.5);
  padding: 30px;
  font-size: 16px;
  color: #222;
  margin: 0px 20px 40px 0px;
}
