.friends {
  position: relative;
  grid-area: main;
  background-color: #fff;
  padding: 50px;
  min-height: 100vh;
  text-align: center;
}

/* .friends__btn {
  background-color: #007ee5;
  min-width: 170px;
  min-height: 50px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.friends__btn:hover {
  background-color: #0165b8;
} */
