.profile-user__avatar {
  position: relative;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
}
.profile-info {
  font-size: 14px;
  color: #222;
  margin: 0px 0px 50px 0px;
}
.profile-info__list li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.profile-info__item span {
  font-weight: 700;
}

.profile-info__item a {
  text-decoration: underline;
  color: #222;
}
